@using The_Wall.Models;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div>
        <h1>Register</h1>
        <partial name="Register"/>
    </div>
    <div>
        <h1>Login</h1>
        <partial name="Login"/>
    </div>
</body>
</html>